.wallet-tab-item {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.wallet-tab-item .icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-tab-item .anticon {
  font-size: 50px;
  padding: 10px;
}

.wallet-tab-item:hover, .wallet-tab-item.active {
  background-color: #ededed;
  cursor: pointer;
}

.wallet-tab-item.active {
  border: 1px solid #8fbee9;
}

.wallet-tab-item .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wallet-tab-item .conversation-title {
  font-size: 16px;
}

.wallet-tab-item .description {
  color: #a9a9a9;
  margin-bottom: 0;
}