.menubar {
  display: flex;
  align-items: center;

  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid #eeeef1 !important;

  position: sticky;
  top: 0;
  z-index: 10;
  height: 65px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-wrapper {
  box-sizing: border-box;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.icon-wrapper.mid {
  margin-left: 5px;
  margin-right: 5px;
}

.icon-wrapper-active, .icon-wrapper:hover {
  background-color: #eef2f5;
  cursor: pointer;
}

.menubar-icon {
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}
