.conversation-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  left: 0;
  background-color: white;
  border-right: 1px;
}

@media screen and (max-width: 700px) {
  .conversation-list {
    width: 100vw;
  }
}

.conversation-list-scroll {
  height: calc(100vh - 65px);
  overflow-y: auto;
}