.left-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  left: 0;
  background-color: white;
  border-right: 1px;
}

@media screen and (max-width: 700px) {
  .left-sidebar {
    width: 100vw;
    z-index: 20;
    transform: translate(-100%, 0);
  }

  .left-sidebar.active {
    transform: translate(0, 0);
  }
}


.conversation-list-scroll {
  height: calc(100vh - 65px);
  overflow-y: auto;
}