.compose {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1 !important;
  border-left: 1px solid #eeeef1 !important;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 350px;
  height: 57px;
}

@media screen and (max-width: 700px) {
  .compose {
    left: 0 !important;
  }
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background-color: rgba(0, 0, 0, .05);;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #336fff;
}
