.toolbar-btn-wrapper {
  padding: 10px;
  border-radius: 5px;
}

.toolbar-btn-wrapper .anticon {
  font-size: 27px;
}

.toolbar-btn-wrapper:hover {
  cursor: pointer;
}

.topbar-btn-wrapper {
  color: #007aff;
}

.compose-btn-wrapper {
  color: #a2a8ad;
}

.topbar-btn-wrapper:hover {
  background-color: #e6e9eb;
}

.compose-btn-active, .compose-btn-wapper:hover {
  color: #007aff;
}
