.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0;
  /*text-transform: uppercase;*/
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
}

.message .bubble {
  max-width: min(75%, 400px) !important;
  word-wrap: break-word;
  border: 1px solid #bfbfbfd6;
}

.message.mine .bubble {

}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 10px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 10px;
  /* margin-bottom: 10px; */
}

.message.start .bubble-container .bubble {
  margin-top: 5px;
}

.message.end .bubble-container .bubble {
  margin-bottom: 5px;
}

.message.mine.start .bubble-container .bubble {
  border-top-right-radius: 10px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 10px;
}

.message .bubble-container .bubble {
  margin: 1px;
  background: #f4f4f8;
  padding: 10px 15px;
  max-width: 75%;
  border-radius: 2px 10px 10px 2px;
}

.message.mine .bubble-container .bubble {
  background: #b6dcff;
  border-radius: 10px 2px 2px 10px;
}

.message .bubble-container .bubble.transfer {
  background-color: #e7ffdc;
  width: min(75%, 400px);
  color: green;
}

.message .bubble-container .bubble.receive {
  color: green;
  width: min(75%, 400px);
}

.message .bubble-container .amount {
  font-size: 18px;
  word-break: keep-all;
  white-space: nowrap;
}

.message .bubble-container .msg {
  color: black;
}