.balance-page {
  position: fixed;
  top: 65px;
  right: 0;
  left: 350px;
  bottom: 0;
  background-color: white;
  border-left: 1px solid #eeeef1 !important;
  padding: 10px;
  overflow-y: auto;
}

.balance-page.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .balance-page {
    left: 0;
    border-left: none;
  }
}

.balance-page .balance-col.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.balance-page .balance-container {
  width: 250px;
  height: 250px;
  border: 2px solid #096dd9;
  background-color: #e6f7ff;
  border-radius: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.balance-page .balance-number {
  font-size: 25px;
  color: #389e0d;
  font-weight: bold;
}

.balance-page .info-row {
  padding: 20px;
  background-color: #e6f7ff;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #69c0ff;
}

.balance-page .info-row:hover {
  cursor: pointer;
  background-color: #dcedfa;
}

.balance-page .value {
  text-align: right;
  font-weight: bold;
}